body {
    /* background-color: #110D27; */
    background-color: rgb(1, 1, 27);
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    transition: 1s all;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}
.container2{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.links {
    display: flex;
    gap: 15px;
}

.header-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.home {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.main {
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}

.main-sections {
    display: flex;
    justify-content: center;
    margin-top: 100px;
     margin: 0 auto;
    position: relative;
}

.text-home {
    color: #bcbac4;
}

.first-peace {
    margin-left: 100px;
    width: 50%;
    margin-top: 70px;
}


.fonts {
    position: absolute;
    left: 28px;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .fonts a {
    font-size: 20px;
    color: #7b5eff;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .fonts a:hover {
    transform: scale(1.2);
    color: #a394ff;
}


.image {
    transition: transform 0.5s ease;
    width: 500px;
    /* border: 1px solid white;  */
  }

.image:hover {
    transform: scale(1.1);
  }

.aboutmyself {
    display: flex;
    gap: 40px;
}

.skill {
    width: 40px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.projects {
    display: flex;
    justify-content: center;
}

.card {
    /* transform: scale(1.1); */
    transition: 0.3s all;
}

.card:hover {
    transform: scale(1.1);
}